* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* I breakpoint suggeriti sono:
Tablet: 768px
Laptop: 992px
Desktop: 1200px */


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: #0084fd;
    color: white;
}
/* Fine navbar */

.container {
    width: 100%;
    text-align: center;
    /* test */

    padding: 50px 32px;
}

/* Intro */

.cards {
    display: flex;
    flex-direction: column;

    gap: 25px;

}

.card {
    height: 360px;
    /* test */
    /* display: flex; */

    background-color: #b5ddff;
    border-radius: 15px;

}
/* Fine Intro */



/* Planing */

#planing {
    background-color: #9792e4;
}

.planings{
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.planing {
    height: 616px;
    /* test */

    color: white;
}

.planing.white {
    background-color: white;
    border-radius: 45px;
    color: black;
}
/* Fine planing */



/* Testimonial */

.testimonials {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.testimonial {
    height: 500px;
    /* test */
    display: flex;
    flex-direction: column;

    border-radius: 45px;
    background-color: #9792e4;
}

/* Fine testimonial */



/* Benefits */

#benefits {
    background-color: #9792e4;
    color: white;
}

.benefits {
    display: flex;
    flex-direction: column;

    gap: 35px;
}

.benefit {
    height: 396px;
    /* test */

    background-color: white;
    border-radius: 15px;
}
/* Fine benefits */



/* About us */

.about-us {
    display: flex;
    flex-direction: column;

    gap: 55px;
}

/* Fine about us */



/* Get started */

#get-started {
    background-color: #9792e4;
    color: white;
}

.get-started {
    display: flex;
    flex-direction: column;

    gap: 25px;
}
/* Fine get started */



/* Footer */

footer {
    background-color: #333333;
    color: white;
}

footer p {
    padding-block: 33px;
}

footer a {
    color: #9792e4;
}
/* Fine footer */


/************************************************
    MEDIA QUERY 
*************************************************/

@media screen and (min-width: 768px) {

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card:first-child {
        width: calc(100% / 3 * 2 - 10px);
    }

    .card {
        width: calc(100% / 3 - 25px / 3 * 2);
    }

    .box {
        text-align: justify;
    }

    .testimonial {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .benefits {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefit {
        width: calc(100% / 2 - 35px / 3 * 2);
    }

    .about-us {
        flex-direction: row;
    }



}