* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* I breakpoint suggeriti sono:
Tablet: 768px
Laptop: 992px
Desktop: 1200px */


/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: #0084fd;
    color: white;
}
/* Fine navbar */

.container {

    padding: 50px 32px;
}

/* Intro */

.cards {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.card {
    width: 100%;
    height: 360px;
    /* test */

    background-color: #b5ddff;
    border-radius: 15px;
}
/* Fine Intro */



/* Planing */

#planing {
    background-color: #9792e4;
}

.planing {
    width: 100%;
    height: 616px;
    /* test */

    color: white;

}

.planing.white {
    background-color: white;
    border-radius: 45px;
    color: black;
}
/* Fine planing */